@font-face {
    font-family: Anurati-Regular;
    src: url("fonts/Anurati-Regular.otf") format("opentype");
  }

* {
  margin: 0;
  padding: 0;
  font-family: 'Anurati-Regular', sans-serif;
}

body {
  background-color: #000000;
}

section {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

section:before {
  content: '';
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
  background: linear-gradient(to top, #000000, transparent);
  z-index: 10000;
}

section:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10000;
}

section img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  pointer-events: none;
}

#text {
  position: relative;
  margin-top: -150px;
  color: rgb(79, 255, 237);
  font-size: 10em;
  z-index: 1;
  text-align: center;
  filter: drop-shadow(10px 5px 2px #000);
}

#road {
  z-index: 2;
}

/* CARDS */

.container {
	width : 1100px;
	height: 660px;
	position: absolute;
  margin-top: 1100px;
	top: 10%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.cover {
  display: inline-block;
  height: 300px;
	width: 500px;
	margin: 15px;
	border-radius: 8px;
}

@media screen and (max-width: 700px) {
	.container {
		width : 100%;
		position: relative;
		transform: translate(0%, 0%);
		top: 0;
		left: 0;
	}
	.cover {
		display: block;
		height: 200px;
		width: 320px;
		margin: 50px auto;
	}
}

.atvImg {
	border-radius: 8px;
	transform-style: preserve-3d;
	-webkit-tap-highlight-color: rgba(#000,0);
}

.atvImg img {
	border-radius: 8px;
	box-shadow: 0 2px 8px rgba(14,21,47,0.25);
}

.atvImg-container {
	position: relative;
	width: 100%;
	height: 100%;
	border-radius: 8px;
	transition: all 0.2s ease-out;
}

.atvImg-container.over .atvImg-shadow {
	box-shadow: 0 45px 100px rgba(14,21,47,0.4), 0 16px 40px rgba(14,21,47,0.4);
}

.atvImg-layers {
	position: relative;
	width: 100%;
	height: 100%;
	border-radius: 8px;
	overflow: hidden;
	transform-style: preserve-3d;
}

.atvImg-rendered-layer {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0%; 
	left: 0%;
	background-repeat: no-repeat;
	background-position: center;
	background-color: transparent;
	background-size: cover;
	transition: all 0.1s ease-out;
	overflow: hidden;
	border-radius: 8px;
}

.atvImg-shadow {
	position: absolute;
	top: 5%; 
	left: 5%;
	width: 90%;
	height: 90%;
	transition: all 0.2s ease-out;
	box-shadow: 0 8px 30px rgba(14,21,47,0.6);
}

.atvImg-shine {
	position: absolute;
	top: 0; 
	left: 0; 
	right: 0; 
	bottom: 0;
	border-radius: 8px;
	background: linear-gradient(135deg, rgba(255,255,255,.25) 0%,rgba(255,255,255,0) 60%);
}

.cardText {
  color: rgb(79, 255, 237);
  font-size: 4em;
  z-index: 3;
  text-align: left;
  margin-left: 5%;
  filter: drop-shadow(10px 5px 2px #000);
}

.cardText2 {
  color: rgb(79, 255, 237);
  font-size: 2.8em;
  z-index: 3;
  text-align: left;
  margin-left: 3.5%;
  filter: drop-shadow(10px 5px 2px #000);
}

.cardText3 {
  color: rgb(79, 255, 237);
  font-size: 2.2em;
  z-index: 3;
  text-align: left;
  margin-left: 0;
  filter: drop-shadow(10px 5px 2px #000);
}

h2 {
  display: inline;
}

/* WAVES */

@import url(//fonts.googleapis.com/css?family=Lato:300:400);

body {
  margin:0;
}

h1 {
  font-family: 'Lato', sans-serif;
  font-weight:300;
  letter-spacing: 2px;
  font-size:48px;
}

p {
  font-family: 'Lato', sans-serif;
  letter-spacing: 1px;
  font-size:14px;
  color: #333333;
}

.flex { 
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.waves {
  position:relative;
  width: 100%;
  height:15vh;
  margin-top:1100px;
  margin-bottom:-7px; 
  min-height:50px;
  max-height:90px;
}

.content {
  position:relative;
  height:5vh;
  text-align:center;
  background-color: rgb(70,60,232);
}

.parallax > use {
  animation: move-forever 25s cubic-bezier(.55,.5,.45,.5)     infinite;
}
.parallax > use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
}
.parallax > use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
}
.parallax > use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
}
.parallax > use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s;
}
@keyframes move-forever {
  0% {
   transform: translate3d(-90px,0,0);
  }
  100% { 
    transform: translate3d(85px,0,0);
  }
}
/*Shrinking for mobile*/
@media (max-width: 768px) {
  .waves {
    height:40px;
    min-height:40px;
  }
  .content {
    height:30vh;
  }
  h1 {
    font-size:24px;
  }
}

/* NAV BAR */
